.allPosts_outer{
    // margin: 0 79px 0 64px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.allPosts_container{
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding: 10px 0px;
}