h3, p{
    margin: 0
}


.post_article{
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.only_names{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_details_outer{
    display: flex;
    align-items: center;
}
.name_details_outer a{
    text-decoration: inherit;
    color: inherit;
}
.name_details{
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
}

.font_details {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.time {
    line-height: 1rem;
    font-size: 0.75rem;
}

.time_dot {
    color: gray;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    word-wrap: break-word;
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
}
.span_time_dot{
    font-family: inherit;
    word-wrap: break-word;
    min-width: 0px;
    color: inherit;
    font: inherit;
    white-space: inherit;
    padding: 0;

}

.time{
    flex-shrink: 0;
    flex-direction: row;
    align-items: stretch;
    box-sizing:border-box;
    display: flex;
    margin: 0;
    padding: 0;
}
.article_outer{
    padding-left: 0.3rem;
    margin-top: 1rem;
}

.article_content{
    font-weight: 400;
    font-size: 0.875rem;
    line-height:1.25rem;
    overflow-wrap: break-word;
    margin-bottom: 0.5rem;
}

.interaction{
    padding-left: 0.6rem;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}
.items {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
}

.delete_icon {
    font-size: 15px;
    color: red;
}

@media screen and (min-width:800px){
    .article_outer{
        padding-left: 0.1rem;
        text-align: start;
    }
    p{
        padding-left: 7px;
    }
}