.header_outer {
    max-width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
}

.search {
    width: 30%;
    resize: vertical;
    height: 45%;
    margin: 15px 0px 10px 50px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.search_icon{
    color: #ed7b02;
    cursor: pointer;
    position: relative;
    left: -30px;

}

.post_icon_manage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_post_button {
    border: none;
    background-color: #ed7b02;
    padding: 10px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    color: white;
    font-size: 8px;
}

.profile_button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #ed7b02;

}

.profile_icon {
    width: 30px;
}

@media screen and (min-width:600px) {
    
    .search {
        margin: 15px 0px 10px 150px;
    }
    
    .search_icon{
        // size: 30;
    }
    
    button{
        position: absolute;
        right: 300px;

    }
    
}

