.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    width: 30%;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    // width: 20px;
}
.containers {
    padding: 2px 16px;
    
}

// body {
//     line-height: 1;
//     overflow: hidden;
//     background-color: #fff;
//     color: #1f2029;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 101%;
       
//     // width: 20px;
// }

// .card {
//     position: fixed;
//     display: block;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     -ms-flex-pack: center;
//     justify-content: center;
//     margin: 0 auto;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 100;
//     overflow-x: hidden;
//     background-color: rgba(43, 61, 221, 0.75);
//     pointer-events: none;
//     opacity: 0;
//     transition: opacity 250ms 700ms ease;
// }



// // .fill-height{
// //     min-height: 100vh;
// // }

// .containers {
//     position: relative;
//     display: block;
//     width: 100%;
//     max-width: 400px;
//     margin: 0 auto;
//     margin-top: 20px;
//     margin-bottom: 20px;
//     border-radius: 4px;
//     overflow: hidden;
//     padding-bottom: 20px;
//     background-color: rgb(155, 31, 31);
//     -ms-flex-item-align: center;
//     align-self: center;
//     box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
//     opacity: 0;
//     transform: scale(0.6);
//     transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
    
// }