.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    width: 30%;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;

    
    // width: 20px;
}
.containers {
    padding: 2px 16px;
    
}